<nav class="navbar">
    <a href="/" class="navbar-brand"><span></span> AgriML</a>
    <div class="navbar-links">
        <a href="/" {% if request.path == '/' %}class="active"{% endif %}>Home</a>
        <a href="/pests/objectives" {% if '/pests' in request.path %}class="active"{% endif %}>Objectives</a>
        <a href="/pests/objectives#questions" {% if '/pests' in request.path %}class="active"{% endif %}>Key Questions</a>
        <a href="/pests/objectives#data">Data Sources</a>
        <a href="/pests/dataEngineering"{% if '/pests/dataEngineering' in request.path %}class="active"{% endif %}>Data Engineering</a>
        <a href="/pests/modelEngineering"{% if '/pests/modelEngineering' in request.path %}class="active"{% endif %}>Model Engineering</a>
        
    </div>
</nav>
